/* CSS RESPONSIVE mobile pour les pauvres sans ordinateur */

/* Media Query pour Village green*/



/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    #blanc {
        background: url('../images/BACKGROUND/bande_fond_teste.png') no-repeat;
        background-size: cover;
        width: auto;
        -webkit-box-shadow: -13px 14px 15px -3px #000000;
        box-shadow: -13px 14px 15px -3px #000000;
    }

    /** fond blanc page d'acceuil **/
    #blanco {
        background: url('../images/BACKGROUND/bande_fond_teste.png') no-repeat;
        background-size: cover;
        width: auto;
        -webkit-box-shadow: -13px 14px 15px -3px #000000;
        box-shadow: -13px 14px 15px -3px #000000;
    }

    #bas {
        width: auto;
    }

    /* id pour qui ? */
    #cadre_numero {
        width: 40%;
    }

    /* nav menu */

    #nav1 a {
        margin-left: 10px;
    }

    #nav2 a {
        padding-right: 20px;
        color: white;
        font-size: 25px;
        font-weight: bold;
    }

    #nav3 a {
        padding-right: 10px;
        color: white;
        font-size: 20px;
    }
}

/* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
/* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
/* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.99px) {

    #blanc {
        background: url('../images/BACKGROUND/bande_fond_teste.png') no-repeat;
        background-size: cover;
        width: auto;
        -webkit-box-shadow: -13px 14px 15px -3px #000000;
        box-shadow: -13px 14px 15px -3px #000000;
    }

    /** fond blanc page d'acceuil **/
    #blanco {
        background: url('../images/BACKGROUND/bande_fond_teste.png') no-repeat;
        background-size: cover;
        width: auto;
        -webkit-box-shadow: -13px 14px 15px -3px #000000;
        box-shadow: -13px 14px 15px -3px #000000;
    }

    #bas {
        width: auto;
    }

    /* id pour qui ? */
    #cadre_numero {
        width: 40%;
    }

    /* nav menu */

    #nav1 a {
        margin-left: 10px;
    }

    #nav2 a {
        padding-right: 20px;
        color: white;
        font-size: 25px;
        font-weight: bold;
    }

    #nav3 a {
        padding-right: 5px;
        color: white;
        font-size: 15px;
        margin-right: 5px;       
    }
}


/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.99px) {

    #blanc {
        background: url('../images/BACKGROUND/bande_fond_teste.png') no-repeat;
        background-size: cover;
        width: auto;
        -webkit-box-shadow: -13px 14px 15px -3px #000000;
        box-shadow: -13px 14px 15px -3px #000000;
    }

    /** fond blanc page d'acceuil **/
    #blanco {
        background: url('../images/BACKGROUND/bande_fond_teste.png') no-repeat;
        background-size: cover;
        width: auto;
        -webkit-box-shadow: -13px 14px 15px -3px #000000;
        box-shadow: -13px 14px 15px -3px #000000;
    }

    #bas {
        width: auto;
    }

    #nav1 a {
        margin-left: 2px;
    }

    #nav2 a {
        /* padding-right: 20px; */
        color: white;
        font-size: 15px;
        font-weight: bold;
    }

    #nav3 a {
        padding-right: 5px;
        color: white;
        font-size: 10px;
        margin-right: 5px;
        margin-top: 20px;
    }
}

/* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
/* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
/* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.99px) {}

/* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
/* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
/* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}

/* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
/* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
/* *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */


/*  
@media screen and (min-width: 1024px) {
    #blanc {
        background: url('../images/BACKGROUND/bande_fond_teste.png') no-repeat;
        background-size: cover;
        width: auto;
        -webkit-box-shadow: -13px 14px 15px -3px #000000;
        box-shadow: -13px 14px 15px -3px #000000;
    }

    /* fond blanc page d'acceuil 
    #blanco {
        background: url('../images/BACKGROUND/bande_fond_teste.png') no-repeat;
        background-size: cover;
        width: auto;
        -webkit-box-shadow: -13px 14px 15px -3px #000000;
        box-shadow: -13px 14px 15px -3px #000000;
    }

    #bas {
        width: auto;
    }

    /* id pour qui ? 
    #cadre_numero {
        width: 40%;
    }

    /* nav menu 

    #nav1 a {
        margin-left: 10px;
    }

    #nav2 a {
        padding-right: 20px;
        color: white;
        font-size: 25px;
        font-weight: bold;
    }

}  */





/* @media screen and (min-width: 768px) {
    #blanc {
        background: url('../images/BACKGROUND/bande_fond_teste.png') no-repeat;
        background-size: cover;
        width: auto;
        -webkit-box-shadow: -13px 14px 15px -3px #000000;
        box-shadow: -13px 14px 15px -3px #000000;
    }

    /**fond blanc*
    #blanco {
        background: url('../images/BACKGROUND/bande_fond_teste.png') no-repeat;
        background-size: cover;
        width: auto;
        -webkit-box-shadow: -13px 14px 15px -3px #000000;
        box-shadow: -13px 14px 15px -3px #000000;
    }

    #bas {
        width: auto;
    }

    #cadre_numero {
        width: 40%;

    }

    /* nav menu 

    #nav1 a {
        margin-left: 10px;
    }

    #nav2 a {
        padding-right: 20px;
        color: white;
        font-size: 15px;
        font-weight: bold;
    }

} */





/*
@media screen and (max-width: 360px) {

    #blanc {
        background: url('../images/BACKGROUND/bande_fond_teste.png') no-repeat;
        background-size: cover;
        width: auto;
        -webkit-box-shadow: -13px 14px 15px -3px #000000;
        box-shadow: -13px 14px 15px -3px #000000;
    }

    /** fond blanc page d'acceuil 
    #blanco {
        background: url('../images/BACKGROUND/bande_fond_teste.png') no-repeat;
        background-size: cover;
        width: auto;
        -webkit-box-shadow: -13px 14px 15px -3px #000000;
        box-shadow: -13px 14px 15px -3px #000000;
    }

    #bas {
        width: auto;
    }

    #cadre_numero {
        width: 40%;
    }

    /* Test de redimention sur l'image d'accueil guitar 
    /* #guitmobile {
        width: 100%;
        height: auto;
    } 

}